<div class="pagecontainer" id="logincompany">
<h1>Company Log In</h1>

<%= form_tag create_vendor_path do %>
	<p>
		<%= label_tag :email %>
		<%= text_field_tag :email, "", :class => "form-control"  %>
	</p>
	<p>
		<%= label_tag :password %>
		<%= password_field_tag :password, "", :class => "form-control" %>
	</p>

		<%= submit_tag 'Log In', :class => "btn btn-success" %>

<% end %>
</div>
