<class id="body">
<div class="logincompany">
<h1>Log In</h1>

<%= form_tag create_user_path do %>
	<p class="loginform">
		<%= label_tag :username %>
		<%= text_field_tag :username %>
	</p>
	<p class="loginform">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</p>

	<div class="actions">
		<a class="waves-effect waves-light btn-large"><%= submit_tag "Log In"%></a>

	</div>



<% end %>
</div>
