<div id="head">
  <div class="main-head-content">
    <div class="">
      <h3>[Summer - Fun]</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  
    <% @packages.each do |package| %>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading flex-panel">
            <div class="img-thumbnail">
                <%= link_to image_tag(package.avatar.medium), vendor_package_path(package.vendor, package)%>
              </div>
          </div>
          <div class="panel-body">
            <span class="package-items">
              <span class="p-item">
                Name:
                <strong>
                  <%= package.itinerary %>
                </strong>
              </span>
              <span class="p-item">
              Price:
              <strong>
                <%= package.price %>
                </strong>
              </span>
              <span class="p-item">
              Duration:
                <strong>
                <%= package.duration %>
                </strong>
              </span>
              <span class="p-item">
              Diration:
                <strong>
                  <%= package.duration %>
                </strong>
              </span>
            </span>
          </div>
        </div>
      </div>

    <% end %>
  

</div>
