<div id="head">
  <div class="main-head-content">
    <h4 class="animated bounceInDown">Live Life Spontaneously . . .</h4>
  </div>
</div>


<div class="row">
    <% @packages.each do |package| %>
      <div class="col s12 m6">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to image_tag(package.avatar.large), vendor_package_path(package.vendor, package), :class => "activator"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= package.itinerary %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= package.itinerary %><i class="material-icons right">close</i></span>
            <p><%= package.itinerary %></p>
            <p><%= "$" + package.price.to_s %></p>
            <p><%= package.duration %></p>
            <p>Rooms: <%= package.rooms %> People: <%= package.people %></p>
            <p><%= package.start_date.to_formatted_s(:long)  %> - <%= package.end_date.to_formatted_s(:long)     %></p>
            <p><%= link_to "Book Now!", vendor_package_path(package.vendor_id, package), :class => "btn btn-success" %></p>
          </div>
        </div>
        </div>
  <% end %>
</div>
