<div id="head">
  <div class="main-head-content">
    <div class="">
      <h3>[Summer - Fun]</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @packages.each do |package| %>
    <div class="col-md-4 panel-body packages"><%= link_to image_tag(package.avatar), vendor_package_path(package.vendor, package) %></div>
    <div class='inside'>
      <%= package.itinerary %>
    </div>
    <div class='inside'>
      <%= package.price %>
    </div>
    <div class='inside'>
      <%= package.duration %>
    </div>
    <div class='inside'>
      <%= package.duration %>
    </div>
  </div>
  <% end %>
</div> 

  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150">
    </div>

  </div>
</div>
