<div id="head">
  <div class="main-head-content">
    <div class="">
      <h3>Live Life Spontaneously . . .</h3>
    </div>
  </div>
</div>




<div class="row">
    <% @packages.each do |package| %>
      <div class="col s12 m6">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to image_tag("https://s-media-cache-ak0.pinimg.com/564x/c0/2d/99/c02d997120479db1a36d9157c99eca7d.jpg"), vendor_package_path(package.vendor, package), :class => "activator"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p><%= package.itinerary %></p>
            <p><%= "$" + package.price.to_s %></p>
            <p><%= package.duration %></p>
            <p><%= package.dates %></p>
          </div>
        </div>
        </div>
  <% end %>
</div>
