<div id="head">
  <div class="main-head-content">
    <div class="">
      <h3>Live Live Spontaneuosly . . .</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @packages.each do |package| %>
    <div class="col-md-4 panel-body packages"><%= link_to image_tag(package.avatar), vendor_package_path(package.vendor, package) %></div>
    <div class='inside'>
      <%= package.itinerary %>
    </div>
    <div class='inside'>
      <%= package.price %>
    </div>
    <div class='inside'>
      <%= package.duration %>
    </div>
    <div class='inside'>
      <%= package.duration %>
    </div>
  </div>
  <% end %>
</div>

  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://wallpaperlayer.com/img/2015/8/tumblr-beach-backgrounds-7092-7373-hd-wallpapers.jpg" alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://wallpaperlayer.com/img/2015/8/tumblr-beach-sand-backgrounds-7102-7383-hd-wallpapers.jpg"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://wallpaperlayer.com/img/2015/8/wonderful-tumblr-beach-backgrounds-7090-7371-hd-wallpapers.jpg"alt="Image Name Here" width="350" height="150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://www.ndemok.com/i/beach-tumblr-wallpaper-1080p.jpg"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://cdni.tutorialchip.com/wp-content/uploads/2012/01/Cool-beach-wallpaper-520x324.jpg"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://s8.favim.com/610/150825/app-background-beach-hipster-Favim.com-3182518.jpg"alt="Image Name Here" width="350" height="150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://www.bridalguide.com/sites/default/files/article-images/honeymoons/caribbean/adventure-islands/adventure-islands-stjohn-snorkel.jpg"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150"alt="Image Name Here" width="350" height="150">
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150"alt="Image Name Here" width="350" height="150">
    </div>

    <div class="col-md-4 panel-body">
      <img src="http://placehold.it/350x150"alt="Image Name Here" width="350" height="150">
    </div>

  </div>
</div>
