
<p id="notice"><%= notice %></p>
<div class="container">
<p id="company_name">
  <h3 class="center-align"><%= @vendor.company %></h3>

</p>
<h5> Packages </h5>
<table class="highlight centered">
	<thead>
	  <tr>
	    <th>Itinerary</th>
      <th>Ship</th>
      <th>Dates</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Room Type</th>
	  </tr>
	</thead>
	<tbody>
		<% @vendor.packages.each do |package| %>
			<tr>
				<td><%= link_to package.itinerary, vendor_package_path(@vendor.id, package.id) %></td>
				<td><%= package.ship.name %></td>
        <td><%= package.dates %></td>
        <td><%= package.duration %></td>
        <td><%= package.price %></td>
        <td><%= package.room_type %></td>
				<% if @vendor == current_vendor %>
        <td><%# image_tag(@package.avatar.medium) %></td>
				<td><%= link_to 'Edit', edit_vendor_package_path(@vendor.id, package.id) %> </td>
				<td><%= link_to 'Delete', vendor_package_path(current_vendor, package), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<<<<<<< HEAD

<h5> Ships </h5>
<table class="highlight">
=======
<div> SHIPS </div>
<table class="table table-hover">
>>>>>>> parent of 8100c3c... vendor login that works
	<thead></thead>
	<tbody>
		<% @vendor.ships.each do |ship| %>
			<tr>
				<td><%= link_to ship.name, vendor_ship_path(@vendor.id, ship.id) %></td>
				<% if @vendor == current_vendor %>
        <td><%# image_tag(@ship.avatar.medium) %></td>
				<td><%= link_to 'Edit', edit_vendor_ship_path(@vendor.id, ship.id) %> </td>
				<td><%= link_to 'Delete', vendor_ship_path(current_vendor, ship), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



<% if @vendor == current_vendor %>
<%= link_to 'Create a New Ship', new_vendor_ship_path(@vendor) %> |
<%= link_to 'Create a New Package', new_vendor_package_path(@vendor) %> |
<%= link_to 'Edit Profile', edit_vendor_path(@vendor) %>
<% end %>

</div>
