
<p id="notice"><%= notice %></p>
<div class="pagecontainer">
<p id="company_name">
  <strong><%= @vendor.company %></strong>

</p>
<div> SHIPS </div>
<table class="table table-hover">
	<thead></thead>
	<tbody>
		<% @vendor.ships.each do |ship| %>
			<tr>
				<td><%= link_to ship.name, vendor_ship_path(@vendor.id, ship.id) %></td>
				<% if @vendor == current_vendor %>
        <td><%# image_tag(@ship.avatar.medium) %></td>
				<td><%= link_to 'Edit', edit_vendor_ship_path(@vendor.id, ship.id) %> </td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



<% if @vendor == current_vendor %>
<%= link_to 'Create a New Ship', new_vendor_ship_path(@vendor) %> |
<%= link_to 'Create a New Package', new_vendor_package_path(@vendor) %> |
<%= link_to 'Edit Vendor Profile', edit_vendor_path(@vendor) %>
<% end %>

</div>
