
<%= form_for([@vendor, @ship]) do |f| %>
<% if @ship.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

  <ul>
    <% @ship.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tonnage %><br>
      <%= f.number_field :tonnage %>
    </div>
    <div class="field">
      <%= f.label :length_in_feet %><br>
      <%= f.number_field :length_in_feet %>
    </div>
    <div class="field">
      <%= f.label :guest_capacity %><br>
      <%= f.number_field :guest_capacity %>
    </div>
    <div class="field">
      <%= f.label :onboard_crew %><br>
      <%= f.number_field :onboard_crew %>
    </div>
  
  </div>

  <div class="col-md-4">
    <ul>
      <li><%= f.label :activities %></li>
      <br>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Casino") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Acupuncture") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Spa") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Movie Theater") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Bingo") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Games") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Volleyball") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Kid's Camp") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Live Music") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Stage Shows") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Basketball") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Karaoke") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Skycourse") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Mini Golf") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Waterslide") %></li>
      <li><%= check_box_tag(:activities) %> <%= label_tag(:activities, "Nightclub") %></li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li><%= f.label :dining %></li>
      <br>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Sushi") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Steakhouse") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "BBQ") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Asian Kitchen") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Deli") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Pasta Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Salad Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Chef's Table") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Burger Joint") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Kid's Menu") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Breakfast Grill") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Sports Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Rum Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Tequila Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Martini Bar") %></li>
      <li><%= check_box_tag(:dining) %> <%= label_tag(:dining, "Vineyard") %></li>
    </ul>
  </div>
</div>

<div class="field">
  <%= f.file_field :avatar %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
