
<%= form_for([@vendor, @ship]) do |f| %>
<% if @ship.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

  <ul>
    <% @ship.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tonnage %><br>
      <%= f.number_field :tonnage %>
    </div>
    <div class="field">
      <%= f.label :length_in_feet %><br>
      <%= f.number_field :length_in_feet %>
    </div>
    <div class="field">
      <%= f.label :guest_capacity %><br>
      <%= f.number_field :guest_capacity %>
    </div>
    <div class="field">
      <%= f.label :onboard_crew %><br>
      <%= f.number_field :onboard_crew %>
    </div>

  </div>

  <div class="col-md-4">
    <ul>
      <li><%= f.label :activities %></li>
      <br>
      <% Ship::ACTIVITIES.each do |activity_name| %>
      <%# @ship.activities ? @ship.activities[activity_name] : nil %>
      <li><%= check_box_tag("ship[activities[#{activity_name}]]", nil, @ship.activities.try(:[], activity_name)) %> <%= label_tag("ship[activities[#{activity_name}]]", activity_name) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li><%= f.label :dining %></li>
      <br>
      <% Ship::DINING.each do |dining_name| %>
    
        <li><%= check_box_tag("ship[dining[#{dining_name}]]", nil, @ship.dining.try(:[], dining_name)) %> <%= label_tag("ship[dining[#{dining_name}]]", dining_name) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
