
<%= form_for([@vendor, @ship]) do |f| %>
<% if @ship.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

  <ul>
    <% @ship.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tonnage %><br>
      <%= f.number_field :tonnage %>
    </div>
    <div class="field">
      <%= f.label :length_in_feet %><br>
      <%= f.number_field :length_in_feet %>
    </div>
    <div class="field">
      <%= f.label :guest_capacity %><br>
      <%= f.number_field :guest_capacity %>
    </div>
    <div class="field">
      <%= f.label :onboard_crew %><br>
      <%= f.number_field :onboard_crew %>
    </div>

  </div>

  <div class="col-md-4">
    <ul>
      <li><%= f.label :activities %></li>
      <br>
      <% ["Casino",
           "Acupuncture",
           "Spa",
           "Movie Theater",
           "Bingo",
           "Games",
           "Volleyball",
           "Kid's Camp",
           "Live Music",
           "Stage Shows",
           "Basketball",
           "Karaoke",
           "Skycourse",
           "Mini Golf",
           "Waterslide",
           "Nightclub"].each do |activity_name| %>
        <li><%= check_box_tag("activities[#{activity_name}]") %> <%= label_tag(:activities, activity_name) %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="col-md-4">
    <ul>
      <li><%= f.label :dining %></li>
      <br>
      <% ["Sushi",
        "Steakhouse",
        "BBQ",
        "Asian Kitchen",
        "Deli",
        "Pasta Bar",
        "Salad Bar",
        "Chef's Table",
        "Burger Joint",
        "Kid's Menu",
        "Breakfast Grill",
        "Sports Bar",
        "Rum Bar",
        "Tequila Bar",
        "Martini Bar",
        "Vineyard"].each do |dine| %>
          <li><%= check_box_tag("dining[#{dine}]") %> <%= label_tag(:dining, dine) %></li>
        <% end %>
    </ul>
  </div>
</div>

<div class="field">
  <%= f.file_field :avatar %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
