<div class="container">

	<h1><%= @ship.name %></h1>

	<div>

		<ul class="col-md-3">
			<li><strong>Tonnage: </strong><%= @ship.tonnage %></li>
			<li><strong>Length in feet: </strong><%= @ship.length_in_feet %></li>
			<li><strong>Guest capacity: </strong><%= @ship.guest_capacity %></li>
			<li><strong>Onboard crew: </strong><%= @ship.onboard_crew %></li>
			<li><strong>Activities: </strong><%= @ship.activities.keys.to_sentence unless @ship.activities.nil? %></li>
			<li><strong>Dining: </strong><%= @ship.dining.keys.to_sentence unless @ship.dining.nil? %></li>
		</ul>

		<div class="col-md-8 col-md-offset-1">
			<%= image_tag(@ship.avatar.large) %>
		</div>

	</div>
<% if @reviews.any? %>
	<h6><strong>Average Rating</strong></h6>
		<% review_total = @reviews.map do |review| %>
					<% review.rating %> 
			<% end %>
			<div class="reviews">
					<div class="star-rating" data-score=<%= review_total.inject(:+) / review_total.count %> ></div>
			</div>
<% else %>
	<h6><strong>No reviews just yet. Be the first!</strong></h6>

<% end %>




<% if current_user %>
	<h6>Leave us a review!</h6>
	<%= render 'reviews/form'%>
<% end %>
<!-- 	<ul class="rating">
		<li class='rating_star' ></li>
	</ul> -->
<br>

<% unless @reviews.nil? %>
	<h6> Reviews: </h6>
	<% @reviews.each do |review| %>


		<div class="reviews">
			<div class="star-rating" data-score= <%= review.rating %> ></div>
			<p><%= review.description %></p>
		</div>
	<% end %>
<% end %>



	<% if @ship.vendor == current_vendor %>
	<%= link_to 'Edit', edit_vendor_ship_path(current_vendor.id, @ship.id) %> | 
	<% end %> 

	<%= link_to 'Back to Dashboard', @ship.vendor %>
</div>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
