<div class="container">

	<h1><%= @ship.name %></h1>

	<div>

		<ul class="col-md-3">
			<li><strong>Tonnage: </strong><%= @ship.tonnage %></li>
			<li><strong>Length in feet: </strong><%= @ship.length_in_feet %></li>
			<li><strong>Guest capacity: </strong><%= @ship.guest_capacity %></li>
			<li><strong>Onboard crew: </strong><%= @ship.onboard_crew %></li>
			<li><strong>Activities: </strong><%= @ship.activities %></li>
		</ul>

		<div class="col-md-8 col-md-offset-1">
			<%= image_tag(@ship.avatar.large) %>
		</div>

	</div>


	<% if @ship.vendor == current_vendor %>
	<%= link_to 'Edit', edit_vendor_ship_path(current_vendor.id, @ship.id) %>
	<% end %> |

	<%= link_to 'Back to Dashboard', vendor_path(params[:vendor_id]) %>
</div>
