<!DOCTYPE html>
<html>
<head>
  <title>Spontaneously</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	Signed in as:<%= current_user.username %> <%= link_to 'Log Out', logout_path %>
<% end %>



  
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert- #{key}") do %>
      <p><%= value %></p>
    <% end %>
  <% end %>

  <%= yield %>

  <div id="vendor_footer">

    <% if current_vendor %>
      Logged in as  <%= current_vendor.email %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <p> Company:
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", vendor_login_path %>
      </p>
    <% end %>
  </div>

</body>
</html>
