<!DOCTYPE html>
<html>
<head>
  <title>Spontaneously</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :welcome %>
  <%= csrf_meta_tags %>
</head>

<body>

    <nav>
      <div class="nav-wrapper">
          <a href="/" class="brand-logo left">Spontaneously</a>
          <ul id="nav-mobile" class="right">
            <% if current_user %>
              <li>
                <%= link_to "" , user_path(current_user.id), :class => "fa fa-ticket fa-2x"%>
              <li>
                <a href="/users/<%= current_user.id %>">
                Hello </strong><%= current_user.username %> !</strong></a>
              </li>
              <li>
                <%= link_to 'Log Out', logout_path %>
              </li>
            <% elsif !current_vendor %>
                <li><a href="/usersign_up"><span class="fa fa-user fa-2x"></span> Create Account</a></li>
                <li><a href="/user/login"><span class="fa fa-sign-in"></span> Login</a></li>
            <% elsif !current_user && !current_vendor %>
              <li>
                <%= link_to "Sign Up" , usersign_up_path, :class => ""%>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert- #{key}") do %>
        <p><%= value %></p>
      <% end %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>

            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <% if current_vendor %>
                <li><%= link_to "Log out", logout_path, :class => "grey-text text-lighten-3" %></li>
                <li><%= link_to "Dashboard", vendor_path(current_vendor), :class => "grey-text text-lighten-3" %></li>
              <% elsif !current_user %>
                <li>Company:
                  <strong><%= link_to "Sign In", create_vendor_path, :class => "grey-text text-lighten-3" %></strong>
                    or
                  <strong><%= link_to "Sign Up", new_vendor_path, :class => "grey-text text-lighten-3" %></strong>
                </li>
              <% else %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="copyright">&copy; 2016 Spontaneously, Inc.</div>
        </div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>
